@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-sky font-press-start text-white overflow-x-hidden;
    image-rendering: pixelated;
  }
}

.pixel-character {
  width: 4px;
  height: 4px;
  color: #d93a00; /* Red */
  box-shadow:
    /* Hat */
    4px 0, 8px 0, 12px 0, 16px 0,
    0 4px, 4px 4px, 8px 4px, 12px 4px, 16px 4px, 20px 4px,
    /* Hair & Face */
    -4px 8px #5f2300, 0 8px #5f2300, 4px 8px #ffc591, 8px 8px #ffc591, 12px 8px #ffc591, 16px 8px #5f2300,
    -4px 12px #5f2300, 0 12px #ffc591, 4px 12px #5f2300, 8px 12px #ffc591, 12px 12px #ffc591, 16px 12px #5f2300,
    /* Body (Overalls) */
    -4px 16px, 0 16px, 12px 16px, 16px 16px,
    -8px 20px #0035a0, -4px 20px, 0 20px, 4px 20px, 8px 20px, 12px 20px, 16px 20px, 20px 20px,
    /* Legs */
    -4px 24px, 0 24px, 12px 24px, 16px 24px,
    -8px 28px #5f2300, -4px 28px #5f2300, 16px 28px #5f2300, 20px 28px #5f2300;
}
